@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Name</h1>
<p>@Model.Description</p>

<p>From: @Model.Winery.Name</p>

<p>Tags: @foreach(var tag in Model.TasteTags)
    {
        <text>@tag.TagName </text>
    }
</p>

<input type="button" value="Review" onclick="location.href='/Review?id=@Model.Id'">
