@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Wine.Name</h1>
<p>@Model.Wine.Description</p>

<p>From: @Model.Wine.Winery.Name</p>

<p>Tags: @foreach(var tag in Model.Wine.TasteTags)
    {
        <text>@tag.TasteTags.TagName </text>
    }
</p>

<input type="button" value="Review" onclick="location.href='/Review?id=@Model.Wine.Id'">
