@model Uncorkd_BLL.Models.UserModel

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<label for="username">Username</label>
<br />
<input type="text" id="username" placeholder="Enter your username..." />
<br />

<label for="email">Email</label>
<br />
<input type="email" id="email" placeholder="Enter your email adress..." />
<br />

<label for="password">Password</label>
<br />
<input type="password" id="password" placeholder="Enter your password..." />
<br />

<input type="button" id="register" value="Register" onclick="Register()"/>

<script>
    function Register() {
        var username = document.getElementById("username").value;
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;

        if (username === '') {
            alert("Please enter a username");
        } else if (email === '') {
            alert("Please enter an email address");
        } else if (password === '') {
            alert("Please enter a password");
        } else {
            $.ajax({
                url: '/YourRegistrationEndpoint', // Replace with the actual URL
                type: 'POST',
                data: {
                    username: username,
                    email: email,
                    password: password
                },
                success: function (data) {
                    console.log("Registration successful:", data);
                    location.href = '/Home';
                },
                error: function (error) {
                    alert("An error occured. Please try again later.")
                    console.log("Registration error:", error);
                }
            });
        }
    }
</script>

