.flex-grid {
    display: flex;
    flex-wrap: wrap;
    min-height: 620px;
    height: 98%;
    color: #606060;
}

.review {
    flex: 1 1 calc(50% - 20px);
    max-width: calc(50% - 20px);
    height: 290px;
    background: var(--main-washed-pink);
    border: solid 2px var(--main-dark-pink);
    margin: 0 20px 20px 0;
    overflow: hidden;
    position: relative;
}

    .review:nth-child(odd) {
        flex: 0 0 calc(50%-20px);
    }

    .review:nth-child(1) {
        border-radius: 15px 5px 5px 5px;
    }

    .review:nth-child(2) {
        border-radius: 5px 15px 5px 5px;
    }

    .review:nth-child(3) {
        border-radius: 5px 5px 5px 15px;
    }

    .review:nth-child(4) {
        border-radius: 5px 5px 15px 5px;
    }

.thumbnail-container {
    display: flex;
    white-space: nowrap;
}

    .thumbnail-container h2 {
        padding-bottom: 70px;
        max-height: 60px;
        font-size: 50px;
        font-weight: bold;
        margin-top: 5px;
        color: var(--main-dark-pink);
    }

    .thumbnail-container h3 {
        line-height: 0;
        font-size: 32px;
        margin-top: 5px;
    }

.image-container {
    flex: 0 0 auto; 
    margin: 10px 10px 0 10px; 
}

img {
    width: 100px;
    height: 100px;
    max-width: 100%;
    border-radius: 5px;
}

.wine-info-container {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.comment-container {
    margin: 15px 0 0 10px;
    max-height: 100px;
    width: calc(100% - 10px);
}

    .comment-container h3 {
        font-size: 20px;    
        height: 68px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 400;
    }


.tags-container {
    height: 22px;
    max-height: 22px;
    margin: 0 0 15px 10px;
}

    .tags-container h4 {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        font-weight: 700;
        margin: 0 20px 0 0;
    }

.rating-container {
    margin: 0 0 0 10px;
}

.dot {
    background-color: var(--main-light-gray);
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
}

.star-filled {
    background-color: var(--main-light-green);
}

.quarter-filled {
    background: linear-gradient(to right, var(--main-light-green) 30%, var(--main-light-gray) 0%);
}

.half-filled {
    background: linear-gradient(to right, var(--main-light-green) 50%, var(--main-light-gray) 0%);
}

.three-quarter-filled {
    background: linear-gradient(to right, var(--main-light-green) 70%, var(--main-light-gray) 0%);
}

    .rating-container .dot,
    .rating-container p {
        display: inline-block;
        margin: 0 0 10px 0;
        font-size: 20px;
        font-weight: bold;  
        line-height: 0;
        vertical-align: middle;
    }

    .rating-container p{
        margin-left: 10px;
    }

.review-date {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 16px;
    margin-bottom: 10px;
}

.navigate-buttons {
    position:absolute;
    left: 47.5vw;
    padding-bottom: 4.3em;
}


