.random-wines-container,
.popular-wines-container {
    display: flex;
    flex-wrap: wrap;
}

    .random-wines-container > div,
    .popular-wines-container > div {
        background-color: #171717;
        background-size: 101% 100%;
        background-repeat: no-repeat;
        width: 16%;
        height: 13em;
        margin: 1%;
        margin-left: 2%;
        margin-right: 2%;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        user-select: none;
        position: relative;
    }

    .random-wines-container h1,
    .popular-wines-container h1 {
        -webkit-text-stroke: black 1.5px;
        white-space: nowrap;
        font-size: 25px;
        font-weight: 900;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: center;
        padding-bottom: 1%;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: auto;
    }

        .random-wines-container h1:hover,
        .popular-wines-container h1:hover {
            overflow: visible;
            white-space: normal;
        }

    .random-wines-container h2,
    .popular-wines-container h2 {
        font-size: 18px;
        padding-top: .5rem;
        padding-left: .5rem;
        position: absolute;
        text-shadow: 2px 2px 3px #CCCC00;
        color: white;
    }

    .random-wines-container h3,
    .popular-wines-container h3 {
        font-size: 18px;
        padding-top: .5rem;
        padding-right: .5rem;
        text-align: right;
        margin-bottom: 0rem;
        text-shadow: -2px 2px 3px #0000FF;
        color: white;
    }

label {
    font-size: 30px;
    font-weight: 600;
}

