.cat {
    margin-top: 10px;
    margin-right: 19px;
    background-color: #FF85AF;
    border-radius: 10px;
    box-shadow: 1px;
    overflow: hidden;
    float: left;
    user-select: none;
}

.cat label {
    float: left;
    line-height: 1em;
    width: 5em;
    height: 2em;
}

.cat label span {
    text-align: center;
    padding: .5em;
    display: block;
    cursor: pointer;
}

.cat label input {
    position: absolute;
    display: none;
    color: #fff;
}

    .cat label input + span {
        color: #000000;
    }

.cat input:checked + span {
    color: #ffffff;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}

.wine input:checked + span,
.winery input:checked + span {
    background-color: #840032;
}
