#mySearch {
    width: 100%;
    padding: 0.8rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#wineMenu,
#wineryMenu {
    padding: 0;
    margin-top: 80px;
}

.search-container {
    cursor: pointer;
    margin-bottom: 20px;
    width: 90%;
    height: 220px;
    background-color: lightgray;
    border-radius: 10px
}

    .search-container .img-container {
        float: left;
        margin-right: 10px;
        width: 220px;
        margin: 0;
    }

    .search-container .information-container {
        float: left;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .search-container img {
        margin: 10px;
        width: 200px;
        height: 200px;
        max-width: 100%;
        border: 1px solid #000000;
        border-radius: 10px;
    }

    .search-container .information-container a {
        font-size: 40px;
        font-weight: bold;
    }

    .search-container .information-container h4 {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        font-weight: 400;
        margin: 0 20px 0 0;
    }