
@{
    ViewData["Title"] = "Reviews"; 
}

<h1>Reviews</h1>

<div class="flex-grid">
    @for(int i = 0; i++ < 4;){
        <div class="grid-item">
            <h2>@Model.Wine.Name</h2>
            <h2>@Model.Winery.Name</h2>
            @foreach (var tag in Model.Tags)
            {
                <h3>@tag.TagName</h3>
            }

        </div>
    }
</div>

<link rel="stylesheet" href="~/css/bodyReviewsPage.css">

