@{
    ViewData["Title"] = "Explore";
}

<link rel="stylesheet" href="~/css/searchbar.css" />
<link rel="stylesheet" href="~/css/searchtoggle.css" />
<link rel="stylesheet" href="~/css/explore-flexboxes.css" />
<script src="~/js/searchbar.js"></script>
    
<body>
    <h1>Explore</h1>

    <input type="text" id="mySearch" onkeyup="searchBar()" onclick="displayMenuButtons()" placeholder="Search.." title="Type in a category">
    <br /><br />

    <div id="menuButtons" onchange="handleRadioChange(event)"  style="display: none;">
        <div class="cat wine">
            <label>
                <input type="radio" name="category" id="wineRadio" value="wine" checked="checked"><span>Wine</span>
            </label>
        </div>

        <div class="cat winery">
            <label>
                <input type="radio" name="category" id="wineryRadio" value="winery"><span>Winery</span>
            </label>
        </div>
    </div>

    <div>
        <ul id="wineMenu" style="display: none;">
            @foreach (var wine in Model.Wines)
            {
                <li onclick="location.href='/Wine?id=@wine.Id'"><a>@wine.Name</a></li>
            }
        </ul>
        <ul id="wineryMenu" style="display: none;">
            @foreach (var winery in Model.Wineries)
            {
                <li onclick="location.href='/Winery?id=@winery.Id'"><a>@winery.Name</a></li>
            }
        </ul>
    </div>

    <div>
        <p>Best Wines</p>
        <div class="best-wines-container">  
            @foreach(var wine in Model.BestWines)
            {
                <div>
                    <h2>5.00</h2>
                    <h3>Test</h3>
                    <h3>Sweet</h3>
                    <h3>SweetSweetSweet</h3>
                    <h1>@wine.Name</h1>
                </div>
            }
           @* <div>
                <h2>4.13</h2>
                <h3>Sweet</h3>
                <h3>Sweet</h3>
                <h3>Sweet</h3>
                <h1>test</h1>
            </div>
            <div>2</div>
            <div>3</div>        
            <div>4</div>*@
        </div>
        <p>Popular Wines</p>
        <div class="popular-wines-container">
            <div>1</div>
            <div>2</div>
            <div>3</div>
            <div>4</div>
        </div>
    </div>

</body>