@{
    ViewData["Title"] = "Explore";
}

<link rel="stylesheet" href="~/css/searchbar.css" />
<link rel="stylesheet" href="~/css/searchtoggle.css" />
<script src="~/js/searchbar.js"></script>

<body>

    <h1>Explore</h1>

    <input type="text" id="mySearch" onkeyup="searchBar()" onclick="displayMenuButtons()" placeholder="Search.." title="Type in a category">
    <br /><br />

    <div id="menuButtons" onchange="handleRadioChange(event)"  style="display: none;">
        <div class="cat wine">
            <label>
                <input type="radio" name="category" id="wineRadio" value="wine" checked="checked"><span>Wine</span>
            </label>
        </div>

        <div class="cat winery">
            <label>
                <input type="radio" name="category" id="wineryRadio" value="winery"><span>Winery</span>
            </label>
        </div>
    </div>

    <ul id="wineMenu" style="display: none;">
        @foreach (var wine in @Model.Wines)
        {
            <li onclick="location.href='/Wine?id=@wine.Id'"><a>@wine.Name</a></li>
        }
    </ul>
    <ul id="wineryMenu" style="display: none;">
        @foreach (var winery in @Model.Wineries)
        {
            <li onclick="location.href='/Winery?id=@winery.Id'"><a>@winery.Name</a></li>
        }
    </ul>

</body>